// ==== Цвета ====
$main-color: hsl(209, 100%, 55%);
$secondary-color: hsl(209, 100%, 76%);
$grey-color: hsl(0, 0%, 85%);

$font-color: hsl(0, 0%, 10%);

// ==== Разное ====
$border-radius: 5px;
$table-offset-y: calc(100vh - 160px);
